.control-area {
    flex: 6;
    width: 100%;
    border-top: 5px solid black;
    display: flex;
    flex-direction: column;

    .info-region {
        flex: 7;

        .tabs {
            padding: 6px;
            background-color: rgb(37, 37, 39);
            border-bottom: 2px solid #333;
            display: flex;
            flex-direction: row;

            p {
                color: #ccc;
                transition: color 0.3s ease-in-out;
                cursor: pointer;
                font-weight: bold;
                margin-inline: 12px;
                margin-block: 0px;
                font-size: 12px;
                padding-block: 4px;

                &:hover {
                    color: #eee;
                }
            }

            .selected {
                border-bottom: 2px solid #eee;
            }
        }

        .tab {
            overflow-y: scroll;
            background-color:rgb(49, 49, 53);
            color: #eee;
            height: 300px;
            padding: 5px;
            
            .console-line {
                font-family: 'Monaco';
                margin: 0;
                font-size: 15px;
                color: #ddd;
            }

            .results {
                #title {
                    font-weight: bold;
                    margin: 0;
                }

                #nickname {
                    font-style: italic;
                    font-weight: normal;
                    font-size: 0.8rem;
                }

                #pass-time {
                    font-style: italic;
                    font-size: 0.8rem;
                    margin: 0;
                    color: #ccc;
                }
            }
        }
    }


    .run-bar {
        flex: 1;
        border-top: 1px solid black;
        background-color: rgb(87, 87, 97);
        padding: 4px;

        .container {
            background-color: rgb(37, 37, 39);
            border-radius: 8px;
            width: 100%;
            height: 100%;
            border: 1px solid #333;

            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 0px 10px;

            button {
                background: transparent;
                border: none;
                cursor: pointer;
                font-weight: bold;
                padding: 4px 10px;
                border-radius: 8px;
                margin: 0px 10px;
                border: 2px solid #444;

                transition: background-color 0.4s ease-in-out;
            
                &:disabled {
                    cursor: auto;
                }
            }

            #run-button {
                color: rgb(0, 197, 0);
                background-color: rgb(183, 255, 183);
                
                &:hover {
                    background-color: rgb(123, 255, 123);
                }

                &:disabled {
                    background-color: rgb(123, 123, 123);
                    color: rgb(220, 220, 220);
                }
            }

            #reset-button {
                color: rgb(197, 197, 0);
                background-color: rgb(255, 255, 183);
                
                &:hover {
                    background-color: rgb(255, 255, 123);
                }

                &:disabled {
                    background-color: rgb(123, 123, 123);
                    color: rgb(220, 220, 220);
                }
            }

            #stop-button {
                color: rgb(197, 0, 0);
                background-color: rgb(255, 183, 183);
                
                &:hover {
                    background-color: rgb(255, 123, 123);
                }

                &:disabled {
                    background-color: rgb(123, 123, 123);
                    color: rgb(220, 220, 220);
                }
            }

            #speed-button {
                &:hover {
                    background-color: #333;
                }

                .on {
                    color: #eee;
                }

                .off {
                    color: #999;
                }
            }            
        }
    }
}