.control-area {
    flex: 6;
    width: 100%;
    border-top: 3px solid black;
    display: flex;
    flex-direction: column;

    .info-region {
        flex: 5;

        .tabs {
            padding: 6px;
            background-color: rgb(37, 37, 39);
            border-bottom: 2px solid #333;
            display: flex;
            flex-direction: row;

            p {
                color: #ccc;
                transition: color 0.3s ease-in-out;
                cursor: pointer;
                font-weight: bold;
                margin-inline: 12px;
                margin-block: 0px;
                font-size: 12px;
                padding-block: 4px;

                &:hover {
                    color: #eee;
                }
            }

            .selected {
                border-bottom: 2px solid #eee;
            }
        }

        .tab {
            overflow-y: scroll;
            max-height: 300px;
            
            // .console {
            //     background-color: #eee;
            //     padding: 5px;
            //     max-height: inherit;
            //     overflow-y: scroll;
                
            // }
            p {
                font-family: 'Monaco';
                margin: 0;
                font-size: 15px;
                color: #111;
            }
        }

        overflow-y: scroll;
    }


    .run-bar {
        flex: 1;
        border-top: 1px solid black;
        background-color: rgb(87, 87, 97);
        padding: 4px;

        .container {
            background-color: rgb(37, 37, 39);
            border-radius: 8px;
            width: 100%;
            height: 100%;
            border: 1px solid #333;

            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}