.app-row {
    display: flex;
    flex-direction: row;
}

#input-column {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.editor {
    flex: 4;
    border: 1px solid black;
    outline: none;
}